<!doctype html>
<html ng-app="recipeApp">

<head>
    <title>Recipe Analyzer</title>

    <!-- jQuery -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1-vsdoc.js"></script>-->
    <script src="../../Scripts/jquery-1.9.1.min.js"></script>

    <!-- Bootstrap -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <script src="../../Scripts/bootstrap.min.js"></script>
    <link href="../../Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Angular -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <link href="Main.css" rel="stylesheet">-->
    <script src="../../Scripts/angular.min.js"></script>

</head>

<body class="container">

    <h1>Recipe Analyzer</h1>
    <!--<a href="/tmp/test.txt" download="example.json">
        Download recipe as JSON
    </a>-->

    <div class="row">
        <div class="col-md-6">

            <div ng-controller="RecipeCtrl">

                <!--Ingredients selection-->
                <div class="row form-group">
                    <div class="col-md-8 form-group">
                        <select id="ingredientSelect" class="form-control" ng-model="ingredientSelect" ng-options="ingredient.value for ingredient in ingredients track by ingredient.key"></select>
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="button" class="btn btn-primary" value="Add Ingredient" ng-click="addIngredient()" />
                    </div>
                </div>

                <!--Recipe details-->
                <div class="panel">
                    <div ng-repeat="ingredient in recipeIngredients">
                        <div ng-controller="IngredientCtrl">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>{{ingredient.value}}</label>
                                </div>
                                <div class="col-md-2">
                                    <span class="info">Qty:</span>
                                    <input class="form-control" ng-model="ingredient.quantity" dir-enter="calculateAmount(ingredient)" />
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <span class="text-info">Fats:</span>
                                            <p>{{ingredient.fats.total | number:2}}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <span class="text-info">Carbs:</span>
                                            <p>{{ingredient.carbs.total | number:2}}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <span class="text-info">Proteins:</span>
                                            <p>{{ingredient.proteins | number:2}}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <span class="text-info">Fibre:</span>
                                            <p>{{ingredient.fibre | number:2}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>

                <!--Totals-->
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">Carbs:</label>
                        <div class="col-md-2">
                            <label class="form-control">{{recipeTotals.carbsTotal | number:2}}</label>
                        </div>
                        <label class="control-label col-md-5">of which sugars:</label>
                        <div class="col-md-2">
                            <label class="form-control">{{recipeTotals.sugarsTotal | number:2}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Fats:</label>
                        <div class="col-md-2">
                            <label class="form-control">{{recipeTotals.fatsTotal | number:2}}</label>
                        </div>
                        <label class="control-label col-md-5">of which saturated:</label>
                        <div class="col-md-2">
                            <label class="form-control">{{recipeTotals.satFatsTotal | number:2}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Proteins:</label>
                        <div class="col-md-2">
                            <label class="form-control">{{recipeTotals.proteinsTotal | number:2}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Fibres:</label>
                        <div class="col-md-2">
                            <label class="form-control">{{recipeTotals.fibreTotal | number:2}}</label>
                        </div>
                    </div>
                </div>

            </div> <!--end RecipeCtrl-->
        </div>
    </div>

</body>

</html>


<script src="Main.js"></script>
<script src="IngredientCtrl.js"></script>
<script src="RecipeCtrl.js"></script>

