<!doctype html>
<html ng-app="recipeApp">

<head>
    <title>Recipe Analyzer</title>

    <!-- jQuery -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1-vsdoc.js"></script>-->
    <script src="../../Scripts/jquery-1.9.1.min.js"></script>

    <!-- Bootstrap -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <script src="../../Scripts/bootstrap.min.js"></script>
    <link href="../../Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Angular -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <link href="Main.css" rel="stylesheet">-->
    <script src="../../Scripts/angular.min.js"></script>

</head>

<body class="container">

    <h1>Recipe Analyzer</h1>
    <!--<a href="/tmp/test.txt" download="example.json">
        Download recipe as JSON
    </a>-->

    <div class="row">
        <div class="col-md-6">
            <div ng-controller="RecipeCtrl">

                <div class="form-group form-group-sm">
                    <input type="text" class="form-control" name="RecipeTitle" />
                </div>

                <!--Ingredients selection-->
                <div class="row form-group hidden-print">
                    <div class="col-md-8 form-group">
                        <select id="ingredientSelect" class="form-control" ng-model="ingredientSelect" ng-options="ingredient.value for ingredient in ingredients track by ingredient.key"></select>
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="button" class="btn btn-primary" value="Add Ingredient" ng-click="addIngredient()" />
                    </div>
                </div>

                <!--Recipe details-->
                <table class="table">
                    <tr ng-repeat="ingredient in recipeIngredients" ng-controller="IngredientCtrl">
                        <td>
                            <label>{{ingredient.value}}</label>
                        </td>
                        <td class="">
                            <span class="info">Qty:</span>
                            <input class="form-control" ng-model="ingredient.quantity" dir-enter="calculateAmount(ingredient)" />
                        </td>
                        <td>
                            <span class="text-info">Fats:</span>
                            <p>{{ingredient.fats.total | number:2}}</p>
                        </td>
                        <td>
                            <span class="text-info">Carbs:</span>
                            <p>{{ingredient.carbs.total | number:2}}</p>
                        </td>
                        <td>
                            <span class="text-info">Proteins:</span>
                            <p>{{ingredient.proteins | number:2}}</p>
                        </td>
                        <td>
                            <span class="text-info">Fibre:</span>
                            <p>{{ingredient.fibre | number:2}}</p>
                        </td>
                        <td>
                            <span class="text-info">Salt:</span>
                            <p>{{ingredient.salt | number:2}}</p>
                        </td>
                        <td>
                            <input type="button" value="x" class="btn btn-xs btn-danger hidden-print" ng-click="remove(ingredient)" />
                        </td>
                    </tr>
                </table>

                <!--Totals-->
                <table class="table">
                    <tr class="form-group">
                        <td>
                            <label class="control-label pull-right">Total weight:</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.recipeTotal | number:2}}</label>
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label class="control-label pull-right">Carbs:</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.carbsTotal | number:2}}</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.carbsPercentage | percentage:0}}</label>
                        </td>
                        <td>
                            <label class="control-label pull-right">of which sugars:</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.sugarsTotal | number:2}}</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.sugarsPercentage | percentage:0}}</label>
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label class="control-label pull-right">Net Carbs:</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.netCarbs | number:2}}</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.nutritionPercentage | percentage:0}}</label>
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label class="control-label pull-right">Fats:</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.fatsTotal | number:2}}</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.fatsPercentage | percentage:0}}</label>
                        </td>
                        <td>
                            <label class="control-label pull-right">of which saturated:</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.satFatsTotal | number:2}}</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.satFatsPercentage | percentage:0}}</label>
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label class="control-label pull-right">Proteins:</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.proteinsTotal | number:2}}</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.proteinsPercentage | percentage:0}}</label>
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label class="control-label pull-right">Fibres:</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.fibreTotal | number:2}}</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.fibrePercentage | percentage:0}}</label>
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label class="control-label pull-right">Salt:</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.saltTotal | number:2}}</label>
                        </td>
                        <td>
                            <label class="form-control">{{recipeTotals.saltPercentage | percentage:0}}</label>
                        </td>
                    </tr>
                </table>

            </div> <!--end RecipeCtrl-->
        </div>
    </div>
    
<footer>
    <h3>contribute on <a href="https://github.com/RiccardoFragale/RecipeCalculator">GitHub</a></h3>
    <small>Riccardo Fragale - 2017</small>
</footer>
</body>

</html>


<script src="Main.js"></script>
<script src="IngredientCtrl.js"></script>
<script src="RecipeCtrl.js"></script>

